.category-filters {

    text-align: center;
}
.category-filters span {
    font-size: 14px;
}

.category-filters img {
    width: 100%;
    max-width: 130px;
}

.category-filters div {
    background-color: #fef200;
    padding-bottom: 10px;
    margin-bottom: 7px;
    width: 180px;
    height: 180px;
}
.category-filters div.is-active, .category-filters div:hover {
    border-bottom: 7px solid #db1a1b;
    margin-bottom: 0;
}

.location-filters div {
    background-color: #fff !important;
    border: 2px solid #000;
    margin-bottom: 4px;
    margin-top: 4px;
}
.location-filters .is-active, .location-filters div:hover {
    background-color: #fff !important;
    border-bottom: 4px solid #db1a1b;
    margin-bottom: 4px;
}